
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#000;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 10%;
  background:#000;
  position:fixed;
  width:100%;
}

.logo{
  color:#FFD600;
  font-weight:800;
  font-size:22px;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#FFD600;
}

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  padding:0 10%;
}

.hero h1{
  color:#FFD600;
  font-size:42px;
}

.hero p{
  margin:20px 0;
  color:#ccc;
}

.btn{
  padding:12px 25px;
  border:2px solid #FFD600;
  color:#FFD600;
  text-decoration:none;
  margin:10px;
  transition:0.3s;
}

.btn:hover{
  background:#FFD600;
  color:black;
}

section{
  padding:100px 10%;
}

h2{
  color:#FFD600;
  margin-bottom:40px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#111;
  padding:30px;
  border:1px solid #222;
  transition:0.3s;
}

.card:hover{
  border-color:#FFD600;
  transform:translateY(-5px);
}

footer{
  text-align:center;
  padding:20px;
  background:#111;
}
